.text-center {
    text-align: center;
}

.display {
    background-color: #002837;
}

html, body {
    height: 100%;
}

.full-height {
    height: 100%;
}

.clock-time {
    width: 50%;
    margin: auto;
}

.row-content {
    width: 100%;
}

.btn-col{
    flex-direction: column;
}

button {
    width: 50%;
    margin-left: auto
}

.btn-dark {
    margin: auto;
}