@using GShock.BLL
@using GShock.Common.DTO
@inject GShockService GShock

<div class="full-height container-fluid">
    <div class="row">
        <h1 class="text-center row-content">The amazing GShock</h1>
    </div>
    <div class="row">
        <h3 class="text-center row-content">@GShock.CurrentMode.Title</h3>
    </div>
    <div class="row align-items-center h-100">
        <div class="col d-flex btn-col">
            <button class="btn-dark" @onmousedown="() => ClickDurationDown(ButtonType.A)" @onmouseup="() => ClickDurationUp(ButtonType.A)">A</button>
            <button class="btn-dark" @onmousedown="() => ClickDurationDown(ButtonType.B)" @onmouseup="() => ClickDurationUp(ButtonType.B)">B</button>
        </div>
        <div class="col-6 row-content">
            <ClockView/>
        </div>
        <div class="col d-flex btn-col">
            <button class="btn-dark" @onmousedown="() => ClickDurationDown(ButtonType.C)" @onmouseup="() => ClickDurationUp(ButtonType.C)">C</button>
            <button class="btn-dark" @onmousedown="() => ClickDurationDown(ButtonType.S)" @onmouseup="() => ClickDurationUp(ButtonType.S)">S</button>
        </div>
    </div>
</div>

